    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid">
        <!-- 로고 -->
        <a class="navbar-brand text-white" href="">CINEMA</a>
        <!-- toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- 항목부분-->
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white-50 active" aria-current="page" href="">Movie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white-50" href="">Create</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'accounts:logout' %}" method='POST'>
                            {% csrf_token %}
                            <input type="submit" value="로그아웃">
                        </form>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:profile' request.user.nickname %}">{{ request.user.nickname }}</a>
                    </li>
                    {% comment %} {% if comments %}
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-bell"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    {% for comment in comments %}
                                        <li><a class="dropdown-item" href="#">{{ comment.user.nickname }} : {{ comment.text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endif %} {% endcomment %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white-50" href="{% url 'accounts:login' %}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-50" href="{% url 'accounts:signup' %}">회원가입</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>