{% extends 'base.html' %}
{% block content %}
    {% if request.resolver_match.url_name == 'mylike' %}
        <h2><b>Like</b></h2>
        {% for like_review in like_reviews %}
            <p>리뷰 제목 : {{ like_review.title }}</p>
        {% endfor %}
        <hr>
        {% for like_content in like_contents %}
            <p>컨텐츠 제목 : {{ like_content.title }}</p>
        {% endfor %}
    {% elif request.resolver_match.url_name == 'mylater' %}
        <h2><b>Later</b></h2>
        {% for later_review in later_reviews %}
            <p>리뷰 제목 : {{ later_review.title }}</p>
        {% endfor %}
        <hr>
    {% else %}
        <h2><b>통계</b></h2>
        <h2>전체 리뷰 수 : {{ total_reviews }}</h2>
        <h2>내가 시청한 리뷰 수 : {{ watched_reviews_num }}</h2>
        <h2>가장 많이 본 장르 : {{ max_genre }}</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    {{ comment.content.pk }}번 &lt;{{ comment.content.title }}&gt; : {{ comment.text }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}