{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'accounts:profile' request.user.nickname %}" method='POST'>
        {% csrf_token %}
        <label for="nickname"></label>
        {% if date_period <= 0 %}
            <p>닉네임 : <input type="text" name="nickname" id="nickname" value={{ request.user.nickname }}></p>
        {% else %}
            <p>닉네임 : {{ request.user.nickname }} -> {{ date_period }}일 후부터 변경 가능</p>
        {% endif %}
        {{ form.as_p }}
        <input type="submit" value="수정하기">
    </form>
    <a href="{% url 'accounts:mylike' request.user.nickname %}">좋아요 페이지</a>
    <a href="{% url 'accounts:mylater' request.user.nickname %}">나중에 페이지</a>
    <a href="{% url 'accounts:mystats' request.user.nickname %}">통계 페이지</a>
{% endblock content %}